

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Patterns for handling users &mdash; Explore Flask 1.0 documentation</title>
  

  
  

  
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700|Inconsolata:400,700' rel='stylesheet' type='text/css'>

  
  
    

  

  
  
    <link rel="stylesheet" href="_static/css/theme.css" type="text/css" />
  

  
    <link rel="top" title="Explore Flask 1.0 documentation" href="index.html"/>
        <link rel="next" title="Deployment" href="deployment.html"/>
        <link rel="prev" title="Handling forms" href="forms.html"/> 

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-nav-search">
        <a href="index.html" class="fa fa-home"> Explore Flask</a>
        <div role="search">
  <form id ="rtd-search-form" class="wy-form" action="search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>
      </div>

      <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
        
        
            <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="preface.html">Preface</a><ul>
<li class="toctree-l2"><a class="reference internal" href="preface.html#assumptions">Assumptions</a></li>
<li class="toctree-l2"><a class="reference internal" href="preface.html#living-document">Living document</a></li>
<li class="toctree-l2"><a class="reference internal" href="preface.html#conventions-used-in-this-book">Conventions used in this book</a></li>
<li class="toctree-l2"><a class="reference internal" href="preface.html#easter-eggs">Easter eggs</a></li>
<li class="toctree-l2"><a class="reference internal" href="preface.html#summary">Summary</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="conventions.html">Coding conventions</a><ul>
<li class="toctree-l2"><a class="reference internal" href="conventions.html#let-s-have-a-pep-rally">Let&#8217;s have a PEP rally!</a></li>
<li class="toctree-l2"><a class="reference internal" href="conventions.html#relative-imports">Relative imports</a></li>
<li class="toctree-l2"><a class="reference internal" href="conventions.html#summary">Summary</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="environment.html">Environment</a><ul>
<li class="toctree-l2"><a class="reference internal" href="environment.html#use-virtualenv-to-manage-your-environment">Use virtualenv to manage your environment</a></li>
<li class="toctree-l2"><a class="reference internal" href="environment.html#version-control">Version control</a></li>
<li class="toctree-l2"><a class="reference internal" href="environment.html#debugging">Debugging</a></li>
<li class="toctree-l2"><a class="reference internal" href="environment.html#summary">Summary</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="organizing.html">Organizing your project</a><ul>
<li class="toctree-l2"><a class="reference internal" href="organizing.html#definitions">Definitions</a></li>
<li class="toctree-l2"><a class="reference internal" href="organizing.html#organization-patterns">Organization patterns</a></li>
<li class="toctree-l2"><a class="reference internal" href="organizing.html#summary">Summary</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="configuration.html">Configuration</a><ul>
<li class="toctree-l2"><a class="reference internal" href="configuration.html#the-simple-case">The simple case</a></li>
<li class="toctree-l2"><a class="reference internal" href="configuration.html#instance-folder">Instance folder</a></li>
<li class="toctree-l2"><a class="reference internal" href="configuration.html#configuring-based-on-environment-variables">Configuring based on environment variables</a></li>
<li class="toctree-l2"><a class="reference internal" href="configuration.html#summary">Summary</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="views.html">Advanced patterns for views and routing</a><ul>
<li class="toctree-l2"><a class="reference internal" href="views.html#view-decorators">View decorators</a></li>
<li class="toctree-l2"><a class="reference internal" href="views.html#url-converters">URL Converters</a></li>
<li class="toctree-l2"><a class="reference internal" href="views.html#summary">Summary</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="blueprints.html">Blueprints</a><ul>
<li class="toctree-l2"><a class="reference internal" href="blueprints.html#what-is-a-blueprint">What is a blueprint?</a></li>
<li class="toctree-l2"><a class="reference internal" href="blueprints.html#why-would-you-use-blueprints">Why would you use blueprints?</a></li>
<li class="toctree-l2"><a class="reference internal" href="blueprints.html#where-do-you-put-them">Where do you put them?</a></li>
<li class="toctree-l2"><a class="reference internal" href="blueprints.html#how-do-you-use-them">How do you use them?</a></li>
<li class="toctree-l2"><a class="reference internal" href="blueprints.html#refactoring-small-apps-to-use-blueprints">Refactoring small apps to use blueprints</a></li>
<li class="toctree-l2"><a class="reference internal" href="blueprints.html#summary">Summary</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="templates.html">Templates</a><ul>
<li class="toctree-l2"><a class="reference internal" href="templates.html#a-quick-primer-on-jinja">A quick primer on Jinja</a></li>
<li class="toctree-l2"><a class="reference internal" href="templates.html#how-to-organize-templates">How to organize templates</a></li>
<li class="toctree-l2"><a class="reference internal" href="templates.html#inheritance">Inheritance</a></li>
<li class="toctree-l2"><a class="reference internal" href="templates.html#creating-macros">Creating macros</a></li>
<li class="toctree-l2"><a class="reference internal" href="templates.html#custom-filters">Custom filters</a></li>
<li class="toctree-l2"><a class="reference internal" href="templates.html#summary">Summary</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="static.html">Static files</a><ul>
<li class="toctree-l2"><a class="reference internal" href="static.html#organizing-your-static-files">Organizing your static files</a></li>
<li class="toctree-l2"><a class="reference internal" href="static.html#manage-static-assets-with-flask-assets">Manage static assets with Flask-Assets</a></li>
<li class="toctree-l2"><a class="reference internal" href="static.html#summary">Summary</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="storing.html">Storing data</a><ul>
<li class="toctree-l2"><a class="reference internal" href="storing.html#sqlalchemy">SQLAlchemy</a></li>
<li class="toctree-l2"><a class="reference internal" href="storing.html#summary">Summary</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="forms.html">Handling forms</a><ul>
<li class="toctree-l2"><a class="reference internal" href="forms.html#flask-wtf">Flask-WTF</a></li>
<li class="toctree-l2"><a class="reference internal" href="forms.html#summary">Summary</a></li>
</ul>
</li>
<li class="toctree-l1 current"><a class="current reference internal" href="">Patterns for handling users</a><ul>
<li class="toctree-l2"><a class="reference internal" href="#email-confirmation">Email confirmation</a></li>
<li class="toctree-l2"><a class="reference internal" href="#storing-passwords">Storing passwords</a></li>
<li class="toctree-l2"><a class="reference internal" href="#authentication">Authentication</a></li>
<li class="toctree-l2"><a class="reference internal" href="#forgot-your-password">Forgot your password</a></li>
<li class="toctree-l2"><a class="reference internal" href="#summary">Summary</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="deployment.html">Deployment</a><ul>
<li class="toctree-l2"><a class="reference internal" href="deployment.html#the-host">The Host</a></li>
<li class="toctree-l2"><a class="reference internal" href="deployment.html#the-stack">The stack</a></li>
<li class="toctree-l2"><a class="reference internal" href="deployment.html#summary">Summary</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="conclusion.html">Conclusion</a></li>
</ul>

        
      </div>
      &nbsp;
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="index.html">Explore Flask</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          <div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="index.html">Docs</a> &raquo;</li>
      
    <li>Patterns for handling users</li>
      <li class="wy-breadcrumbs-aside">
        
          <a href="_sources/users.txt" rel="nofollow"> View page source</a>
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main">
            
  <div class="section" id="patterns-for-handling-users">
<h1>Patterns for handling users<a class="headerlink" href="#patterns-for-handling-users" title="Permalink to this headline">¶</a></h1>
<img alt="Patterns for handling users" src="_images/users.png" />
<p>One of the most common things that modern web applications need to do is
handle users. An application with basic account features needs to handle
a lot of things like registration, email confirmation, securely storing
passwords, secure password reset, authentication and more. Since a lot
of security issues present themselves when it comes to handling users,
it&#8217;s generally best to stick to standard patterns in this area.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">In this chapter I&#8217;m going to assume that you&#8217;re using SQLAlchemy models and WTForms to handle your form input. If you aren&#8217;t using those, you&#8217;ll need to adapt these patterns to your preferred methods.</p>
</div>
<div class="section" id="email-confirmation">
<h2>Email confirmation<a class="headerlink" href="#email-confirmation" title="Permalink to this headline">¶</a></h2>
<p>When a new user gives us their email, we generally want to confirm that
they gave us the right one. Once we&#8217;ve made that confirmation, we can
confidently send password reset links and other sensitive information to
our users without wondering who is on the receiving end.</p>
<p>One of the most common patterns for confirming emails is to send a
password reset link with a unique URL that, when visited, confirms that
user&#8217;s email address. For example, <a class="reference external" href="mailto:john&#37;&#52;&#48;gmail&#46;com">john<span>&#64;</span>gmail<span>&#46;</span>com</a> signs up at our
application. We register him in the database with an <tt class="docutils literal"><span class="pre">email_confirmed</span></tt>
column set to <tt class="docutils literal"><span class="pre">False</span></tt> and fire off an email to <a class="reference external" href="mailto:john&#37;&#52;&#48;gmail&#46;com">john<span>&#64;</span>gmail<span>&#46;</span>com</a> with a
unique URL. This URL usually contains a unique token, e.g.
<em>http://myapp.com/accounts/confirm-/Q2hhZCBDYXRsZXR0IHJvY2tzIG15IHNvY2tz</em>.
When John gets that email, he clicks the link. Our app sees the token,
knows which email to confirm and sets John&#8217;s <tt class="docutils literal"><span class="pre">email_confirmed</span></tt> column
to <tt class="docutils literal"><span class="pre">True</span></tt>.</p>
<p>How do we know which email to confirm with a given token? One way would
be to store the token in the database when it is created and check that
table when we receive the confirmation request. That&#8217;s a lot of overhead
and, lucky for us, it&#8217;s unnecessary.</p>
<p>We&#8217;re going to encode the email address in the token. The token will
also contain a timestamp to let us set a time limit on how long it&#8217;s
valid. To do this, we&#8217;ll use the <tt class="docutils literal"><span class="pre">itsdangerous</span></tt> package. This package
gives us tools to send sensitive data into untrusted environments (like
sending an email confirmation token to an unconfirmed email). In this
case, we&#8217;re going to use an instance of the <tt class="docutils literal"><span class="pre">URLSafeTimedSerializer</span></tt>
class.</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5
6
7</pre></div></td><td class="code"><div class="highlight"><pre><span class="c"># ourapp/util/security.py</span>

<span class="kn">from</span> <span class="nn">itsdangerous</span> <span class="kn">import</span> <span class="n">URLSafeTimedSerializer</span>

<span class="kn">from</span> <span class="nn">..</span> <span class="kn">import</span> <span class="n">app</span>

<span class="n">ts</span> <span class="o">=</span> <span class="n">URLSafeTimedSerializer</span><span class="p">(</span><span class="n">app</span><span class="o">.</span><span class="n">config</span><span class="p">[</span><span class="s">&quot;SECRET_KEY&quot;</span><span class="p">])</span>
</pre></div>
</td></tr></table></div>
<p>We can use that serializer to generate a confirmation token when a user
gives us their email address. We&#8217;ll implement a simple account creation
process using this method.</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39</pre></div></td><td class="code"><div class="highlight"><pre><span class="c"># ourapp/views.py</span>

<span class="kn">from</span> <span class="nn">flask</span> <span class="kn">import</span> <span class="n">redirect</span><span class="p">,</span> <span class="n">render_template</span><span class="p">,</span> <span class="n">url_for</span>

<span class="kn">from</span> <span class="nn">.</span> <span class="kn">import</span> <span class="n">app</span><span class="p">,</span> <span class="n">db</span>
<span class="kn">from</span> <span class="nn">.forms</span> <span class="kn">import</span> <span class="n">EmailPasswordForm</span>
<span class="kn">from</span> <span class="nn">.util</span> <span class="kn">import</span> <span class="n">ts</span><span class="p">,</span> <span class="n">send_email</span>

<span class="nd">@app.route</span><span class="p">(</span><span class="s">&#39;/accounts/create&#39;</span><span class="p">,</span> <span class="n">methods</span><span class="o">=</span><span class="p">[</span><span class="s">&quot;GET&quot;</span><span class="p">,</span> <span class="s">&quot;POST&quot;</span><span class="p">])</span>
<span class="k">def</span> <span class="nf">create_account</span><span class="p">():</span>
    <span class="n">form</span> <span class="o">=</span> <span class="n">EmailPasswordForm</span><span class="p">()</span>
    <span class="k">if</span> <span class="n">form</span><span class="o">.</span><span class="n">validate_on_submit</span><span class="p">():</span>
        <span class="n">user</span> <span class="o">=</span> <span class="n">User</span><span class="p">(</span>
            <span class="n">email</span> <span class="o">=</span> <span class="n">form</span><span class="o">.</span><span class="n">email</span><span class="o">.</span><span class="n">data</span><span class="p">,</span>
            <span class="n">password</span> <span class="o">=</span> <span class="n">form</span><span class="o">.</span><span class="n">password</span><span class="o">.</span><span class="n">data</span>
        <span class="p">)</span>
        <span class="n">db</span><span class="o">.</span><span class="n">session</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="n">user</span><span class="p">)</span>
        <span class="n">db</span><span class="o">.</span><span class="n">session</span><span class="o">.</span><span class="n">commit</span><span class="p">()</span>

        <span class="c"># Now we&#39;ll send the email confirmation link</span>
        <span class="n">subject</span> <span class="o">=</span> <span class="s">&quot;Confirm your email&quot;</span>

        <span class="n">token</span> <span class="o">=</span> <span class="n">ts</span><span class="o">.</span><span class="n">dumps</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">email</span><span class="p">,</span> <span class="n">salt</span><span class="o">=</span><span class="s">&#39;email-confirm-key&#39;</span><span class="p">)</span>

        <span class="n">confirm_url</span> <span class="o">=</span> <span class="n">url_for</span><span class="p">(</span>
            <span class="s">&#39;confirm_email&#39;</span><span class="p">,</span>
            <span class="n">token</span><span class="o">=</span><span class="n">token</span><span class="p">,</span>
            <span class="n">_external</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>

        <span class="n">html</span> <span class="o">=</span> <span class="n">render_template</span><span class="p">(</span>
            <span class="s">&#39;email/activate.html&#39;</span><span class="p">,</span>
            <span class="n">confirm_url</span><span class="o">=</span><span class="n">confirm_url</span><span class="p">)</span>

        <span class="c"># We&#39;ll assume that send_email has been defined in myapp/util.py</span>
        <span class="n">send_email</span><span class="p">(</span><span class="n">user</span><span class="o">.</span><span class="n">email</span><span class="p">,</span> <span class="n">subject</span><span class="p">,</span> <span class="n">html</span><span class="p">)</span>

        <span class="k">return</span> <span class="n">redirect</span><span class="p">(</span><span class="n">url_for</span><span class="p">(</span><span class="s">&quot;index&quot;</span><span class="p">))</span>

    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s">&quot;accounts/create.html&quot;</span><span class="p">,</span> <span class="n">form</span><span class="o">=</span><span class="n">form</span><span class="p">)</span>
</pre></div>
</td></tr></table></div>
<p>The view that we&#8217;ve defined handles the creation of the user and sends off an
email to the given email address. You may notice that we&#8217;re using a
template to generate the HTML for the email.</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13</pre></div></td><td class="code"><div class="highlight"><pre>{# ourapp/templates/email/activate.html #}

Your account was successfully created. Please click the link below&lt;br&gt;
to confirm your email address and activate your account:

&lt;p&gt;
&lt;a href=&quot;{{ confirm_url }}&quot;&gt;{{ confirm_url }}&lt;/a&gt;
&lt;/p&gt;

&lt;p&gt;
--&lt;br&gt;
Questions? Comments? Email hello@myapp.com.
&lt;/p&gt;
</pre></div>
</td></tr></table></div>
<p>Okay, so now we just need to implement a view that handles the
confirmation link in that email.</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17</pre></div></td><td class="code"><div class="highlight"><pre><span class="c"># ourapp/views.py</span>

<span class="nd">@app.route</span><span class="p">(</span><span class="s">&#39;/confirm/&lt;token&gt;&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">confirm_email</span><span class="p">(</span><span class="n">token</span><span class="p">):</span>
    <span class="k">try</span><span class="p">:</span>
        <span class="n">email</span> <span class="o">=</span> <span class="n">ts</span><span class="o">.</span><span class="n">loads</span><span class="p">(</span><span class="n">token</span><span class="p">,</span> <span class="n">salt</span><span class="o">=</span><span class="s">&quot;email-confirm-key&quot;</span><span class="p">,</span> <span class="n">max_age</span><span class="o">=</span><span class="mi">86400</span><span class="p">)</span>
    <span class="k">except</span><span class="p">:</span>
        <span class="n">abort</span><span class="p">(</span><span class="mi">404</span><span class="p">)</span>

    <span class="n">user</span> <span class="o">=</span> <span class="n">User</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">filter_by</span><span class="p">(</span><span class="n">email</span><span class="o">=</span><span class="n">email</span><span class="p">)</span><span class="o">.</span><span class="n">first_or_404</span><span class="p">()</span>

    <span class="n">user</span><span class="o">.</span><span class="n">email_confirmed</span> <span class="o">=</span> <span class="bp">True</span>

    <span class="n">db</span><span class="o">.</span><span class="n">session</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="n">user</span><span class="p">)</span>
    <span class="n">db</span><span class="o">.</span><span class="n">session</span><span class="o">.</span><span class="n">commit</span><span class="p">()</span>

    <span class="k">return</span> <span class="n">redirect</span><span class="p">(</span><span class="n">url_for</span><span class="p">(</span><span class="s">&#39;signin&#39;</span><span class="p">))</span>
</pre></div>
</td></tr></table></div>
<p>This view is a simple form view. We just add the <tt class="docutils literal"><span class="pre">try</span> <span class="pre">...</span> <span class="pre">except</span></tt> bit
at the beginning to check that the token is valid. The token contains a
timestamp, so we can tell <tt class="docutils literal"><span class="pre">ts.loads()</span></tt> to raise an exception if it is
older than <tt class="docutils literal"><span class="pre">max_age</span></tt>. In this case, we&#8217;re setting <tt class="docutils literal"><span class="pre">max_age</span></tt> to 86400
seconds, i.e. 24 hours.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">You can use very similar methods to implement an email update feature. Just send a confirmation link to the new email address with a token that contains both the old and the new addresses. If the token is valid, update the old address with the new one.</p>
</div>
</div>
<div class="section" id="storing-passwords">
<h2>Storing passwords<a class="headerlink" href="#storing-passwords" title="Permalink to this headline">¶</a></h2>
<p>Rule number one of handling users is to hash passwords with the Bcrypt
(or scrypt, but we&#8217;ll use Bcrypt here) algorithm before storing them. We
never store passwords in plain text. It&#8217;s a massive security issue and
it&#8217;s unfair to our users. All of the hard work has already been done and
abstracted away for us, so there&#8217;s no excuse for not following the best
practices here.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">OWASP is one of the industry&#8217;s most trusted source for information regarding web application security. Take a look at some of their <a class="reference external" href="https://www.owasp.org/index.php/Secure_Coding_Cheat_Sheet#Password_Storage">recommendations for secure coding</a>.</p>
</div>
<p>We&#8217;ll go ahead and use the Flask-Bcrypt extension to implement the
bcrypt package in our application. This extension is basically just a
wrapper around the <tt class="docutils literal"><span class="pre">py-bcrypt</span></tt> package, but it does handle a few
things that would be annoying to do ourselves (like checking string
encodings before comparing hashes).</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5</pre></div></td><td class="code"><div class="highlight"><pre><span class="c"># ourapp/__init__.py</span>

<span class="kn">from</span> <span class="nn">flask.ext.bcrypt</span> <span class="kn">import</span> <span class="n">Bcrypt</span>

<span class="n">bcrypt</span> <span class="o">=</span> <span class="n">Bcrypt</span><span class="p">(</span><span class="n">app</span><span class="p">)</span>
</pre></div>
</td></tr></table></div>
<p>One of the reasons that the Bcrypt algorithm is so highly recommended is
that it is &#8220;future adaptable.&#8221; This means that over time, as computing
power becomes cheaper, we can make it more and more difficult to brute
force the hash by guessing millions of possible passwords. The more
&#8220;rounds&#8221; we use to hash the password, the longer it will take to make
one guess. If we hash our passwords 20 times with the algorithm before
storing them the attacker has to hash each of their guesses 20 times.</p>
<p>Keep in mind that if we&#8217;re hashing our passwords 20 times then our
application is going to take a long time to return a response that
depends on that process completing. This means that when choosing the
number of rounds to use, we have to balance security and usability. The
number of rounds we can complete in a given amount of time will depend
on the computational resources available to our application. It&#8217;s a good
idea to test out some different numbers and shoot for between 0.25 and
0.5 seconds to hash a password. We should try to use at least 12 rounds
though.</p>
<p>To test the time it takes to hash a password, we can time a quick Python
script that, well, hashes a password.</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5
6
7</pre></div></td><td class="code"><div class="highlight"><pre><span class="c"># benchmark.py</span>

<span class="kn">from</span> <span class="nn">flask.ext.bcrypt</span> <span class="kn">import</span> <span class="n">generate_password_hash</span>

<span class="c"># Change the number of rounds (second argument) until it takes between</span>
<span class="c"># 0.25 and 0.5 seconds to run.</span>
<span class="n">generate_password_hash</span><span class="p">(</span><span class="s">&#39;password1&#39;</span><span class="p">,</span> <span class="mi">12</span><span class="p">)</span>
</pre></div>
</td></tr></table></div>
<p>Now we can keep timing our changes to the number of rounds with the UNIX
<tt class="docutils literal"><span class="pre">time</span></tt> utility.</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5</pre></div></td><td class="code"><div class="highlight"><pre>$ time python test.py

real    0m0.496s
user    0m0.464s
sys     0m0.024s
</pre></div>
</td></tr></table></div>
<p>I did a quick benchmark on a small server that I have handy and 12
rounds seemed to take the right amount of time, so I&#8217;ll configure our
example to use that.</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3</pre></div></td><td class="code"><div class="highlight"><pre><span class="c"># config.py</span>

<span class="n">BCRYPT_LOG_ROUNDS</span> <span class="o">=</span> <span class="mi">12</span>
</pre></div>
</td></tr></table></div>
<p>Now that Flask-Bcrypt is configured, it&#8217;s time to start hashing
passwords. We could do this manually in the view that receives the
request from the sign-up form, but we&#8217;d have to do it again in the
password reset and password change views. Instead, what we&#8217;ll do is
abstract away the hashing so that our app does it without us even
thinking about it. We&#8217;ll use a <strong>setter</strong> so that when we set
<tt class="docutils literal"><span class="pre">user.password</span> <span class="pre">=</span> <span class="pre">'password1'</span></tt>, it&#8217;s automatically hashed with Bcrypt
before being stored.</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18</pre></div></td><td class="code"><div class="highlight"><pre><span class="c"># ourapp/models.py</span>

<span class="kn">from</span> <span class="nn">sqlalchemy.ext.hybrid</span> <span class="kn">import</span> <span class="n">hybrid_property</span>

<span class="kn">from</span> <span class="nn">.</span> <span class="kn">import</span> <span class="n">bcrypt</span><span class="p">,</span> <span class="n">db</span>

<span class="k">class</span> <span class="nc">User</span><span class="p">(</span><span class="n">db</span><span class="o">.</span><span class="n">Model</span><span class="p">):</span>
    <span class="nb">id</span> <span class="o">=</span> <span class="n">db</span><span class="o">.</span><span class="n">Column</span><span class="p">(</span><span class="n">db</span><span class="o">.</span><span class="n">Integer</span><span class="p">,</span> <span class="n">primary_key</span><span class="o">=</span><span class="bp">True</span><span class="p">,</span> <span class="n">autoincrement</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
    <span class="n">username</span> <span class="o">=</span> <span class="n">db</span><span class="o">.</span><span class="n">Column</span><span class="p">(</span><span class="n">db</span><span class="o">.</span><span class="n">String</span><span class="p">(</span><span class="mi">64</span><span class="p">),</span> <span class="n">unique</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
    <span class="n">_password</span> <span class="o">=</span> <span class="n">db</span><span class="o">.</span><span class="n">Column</span><span class="p">(</span><span class="n">db</span><span class="o">.</span><span class="n">String</span><span class="p">(</span><span class="mi">128</span><span class="p">))</span>

    <span class="nd">@hybrid_property</span>
    <span class="k">def</span> <span class="nf">password</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="k">return</span> <span class="bp">self</span><span class="o">.</span><span class="n">_password</span>

    <span class="nd">@password.setter</span>
    <span class="k">def</span> <span class="nf">_set_password</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">plaintext</span><span class="p">):</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">_password</span> <span class="o">=</span> <span class="n">bcrypt</span><span class="o">.</span><span class="n">generate_password_hash</span><span class="p">(</span><span class="n">plaintext</span><span class="p">)</span>
</pre></div>
</td></tr></table></div>
<p>We&#8217;re using SQLAlchemy&#8217;s hybrid extension to define a property with
several different functions called from the same interface. Our setter
is called when we assign a value to the <tt class="docutils literal"><span class="pre">user.password</span></tt> property. In
it, we hash the plaintext password and store it in the <tt class="docutils literal"><span class="pre">_password</span></tt>
column of the user table. Since we&#8217;re using a hybrid property we can
then access the hashed password via the same <tt class="docutils literal"><span class="pre">user.password</span></tt> property.</p>
<p>Now we can implement a sign-up view for an app using this model.</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16</pre></div></td><td class="code"><div class="highlight"><pre><span class="c"># ourapp/views.py</span>

<span class="kn">from</span> <span class="nn">.</span> <span class="kn">import</span> <span class="n">app</span><span class="p">,</span> <span class="n">db</span>
<span class="kn">from</span> <span class="nn">.forms</span> <span class="kn">import</span> <span class="n">EmailPasswordForm</span>
<span class="kn">from</span> <span class="nn">.models</span> <span class="kn">import</span> <span class="n">User</span>

<span class="nd">@app.route</span><span class="p">(</span><span class="s">&#39;/signup&#39;</span><span class="p">,</span> <span class="n">methods</span><span class="o">=</span><span class="p">[</span><span class="s">&quot;GET&quot;</span><span class="p">,</span> <span class="s">&quot;POST&quot;</span><span class="p">])</span>
<span class="k">def</span> <span class="nf">signup</span><span class="p">():</span>
    <span class="n">form</span> <span class="o">=</span> <span class="n">EmailPasswordForm</span><span class="p">()</span>
    <span class="k">if</span> <span class="n">form</span><span class="o">.</span><span class="n">validate_on_submit</span><span class="p">():</span>
        <span class="n">user</span> <span class="o">=</span> <span class="n">User</span><span class="p">(</span><span class="n">username</span><span class="o">=</span><span class="n">form</span><span class="o">.</span><span class="n">username</span><span class="o">.</span><span class="n">data</span><span class="p">,</span> <span class="n">password</span><span class="o">=</span><span class="n">form</span><span class="o">.</span><span class="n">password</span><span class="o">.</span><span class="n">data</span><span class="p">)</span>
        <span class="n">db</span><span class="o">.</span><span class="n">session</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="n">user</span><span class="p">)</span>
        <span class="n">db</span><span class="o">.</span><span class="n">session</span><span class="o">.</span><span class="n">commit</span><span class="p">()</span>
        <span class="k">return</span> <span class="n">redirect</span><span class="p">(</span><span class="n">url_for</span><span class="p">(</span><span class="s">&#39;index&#39;</span><span class="p">))</span>

    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s">&#39;signup.html&#39;</span><span class="p">,</span> <span class="n">form</span><span class="o">=</span><span class="n">form</span><span class="p">)</span>
</pre></div>
</td></tr></table></div>
</div>
<div class="section" id="authentication">
<h2>Authentication<a class="headerlink" href="#authentication" title="Permalink to this headline">¶</a></h2>
<p>Now that we&#8217;ve got a user in the database, we can implement
authentication. We&#8217;ll want to let a user submit a form with their
username and password (though this might be email and password for some
apps), then make sure that they gave us the correct password. If it all
checks out, we&#8217;ll mark them as authenticated by setting a cookie in
their browser. The next time they make a request we&#8217;ll know that they
have already logged in by looking for that cookie.</p>
<p>Let&#8217;s start by defining a <tt class="docutils literal"><span class="pre">UsernamePassword</span></tt> form with WTForms.</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5
6
7
8</pre></div></td><td class="code"><div class="highlight"><pre><span class="c"># ourapp/forms.py</span>

<span class="kn">from</span> <span class="nn">flask.ext.wtforms</span> <span class="kn">import</span> <span class="n">Form</span>
<span class="kn">from</span> <span class="nn">wtforms</span> <span class="kn">import</span> <span class="n">TextField</span><span class="p">,</span> <span class="n">PasswordField</span><span class="p">,</span> <span class="n">Required</span>

<span class="k">class</span> <span class="nc">UsernamePasswordForm</span><span class="p">(</span><span class="n">Form</span><span class="p">):</span>
    <span class="n">username</span> <span class="o">=</span> <span class="n">TextField</span><span class="p">(</span><span class="s">&#39;Username&#39;</span><span class="p">,</span> <span class="n">validators</span><span class="o">=</span><span class="p">[</span><span class="n">Required</span><span class="p">()])</span>
    <span class="n">password</span> <span class="o">=</span> <span class="n">PasswordField</span><span class="p">(</span><span class="s">&#39;Password&#39;</span><span class="p">,</span> <span class="n">validators</span><span class="o">=</span><span class="p">[</span><span class="n">Required</span><span class="p">()])</span>
</pre></div>
</td></tr></table></div>
<p>Next we&#8217;ll add a method to our user model that compares a string with
the hashed password stored for that user.</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10</pre></div></td><td class="code"><div class="highlight"><pre># ourapp/models.py

from . import db

class User(db.Model):

    # [...] columns and properties

    def is_correct_password(self, plaintext)
        return bcrypt.check_password_hash(self._password, plaintext)
</pre></div>
</td></tr></table></div>
<div class="section" id="flask-login">
<h3>Flask-Login<a class="headerlink" href="#flask-login" title="Permalink to this headline">¶</a></h3>
<p>Our next goal is to define a sign-in view that serves and accepts our
form. If the user enters the correct credentials, we will authenticate
them using the Flask-Login extension. This extension simplifies the
process of handling user sessions and authentication.</p>
<p>We need to do a little bit of configuration to get Flask-Login ready to
roll.</p>
<p>In <em>__init__.py</em> we&#8217;ll define the Flask-Login <tt class="docutils literal"><span class="pre">login_manager</span></tt>.</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16</pre></div></td><td class="code"><div class="highlight"><pre><span class="c"># ourapp/__init__.py</span>

<span class="kn">from</span> <span class="nn">flask.ext.login</span> <span class="kn">import</span> <span class="n">LoginManager</span>

<span class="c"># Create and configure app</span>
<span class="c"># [...]</span>

<span class="kn">from</span> <span class="nn">.models</span> <span class="kn">import</span> <span class="n">User</span>

<span class="n">login_manager</span> <span class="o">=</span> <span class="n">LoginManager</span><span class="p">()</span>
<span class="n">login_manager</span><span class="o">.</span><span class="n">init_app</span><span class="p">(</span><span class="n">app</span><span class="p">)</span>
<span class="n">login_manager</span><span class="o">.</span><span class="n">login_view</span> <span class="o">=</span>  <span class="s">&quot;signin&quot;</span>

<span class="nd">@login_manager.user_loader</span>
<span class="k">def</span> <span class="nf">load_user</span><span class="p">(</span><span class="n">userid</span><span class="p">):</span>
    <span class="k">return</span> <span class="n">User</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">filter</span><span class="p">(</span><span class="n">User</span><span class="o">.</span><span class="n">id</span><span class="o">==</span><span class="n">userid</span><span class="p">)</span><span class="o">.</span><span class="n">first</span><span class="p">()</span>
</pre></div>
</td></tr></table></div>
<p>Here we created an instance of the <tt class="docutils literal"><span class="pre">LoginManager</span></tt>, initialized
it with our <tt class="docutils literal"><span class="pre">app</span></tt> object, defined the login view and told it how to
get a user object with a user&#8217;s <tt class="docutils literal"><span class="pre">id</span></tt>. This is the baseline
configuration we should have for Flask-Login.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">See more <a class="reference external" href="https://flask-login.readthedocs.org/en/latest/#customizing-the-login-process">ways to customize Flask-Login</a>.</p>
</div>
<p>Now we can define the <tt class="docutils literal"><span class="pre">signin</span></tt> view that will handle authentication.</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22</pre></div></td><td class="code"><div class="highlight"><pre># ourapp/views.py

from flask import redirect, url_for

from flask.ext.login import login_user

from . import app
from .forms import UsernamePasswordForm()

@app.route(&#39;signin&#39;, methods=[&quot;GET&quot;, &quot;POST&quot;])
def signin():
    form = UsernamePasswordForm()

    if form.validate_on_submit():
        user = User.query.filter_by(username=form.username.data).first_or_404()
        if user.is_correct_password(form.password.data):
            login_user(user)

            return redirect(url_for(&#39;index&#39;))
        else:
            return redirect(url_for(&#39;signin&#39;))
    return render_template(&#39;signin.html&#39;, form=form)
</pre></div>
</td></tr></table></div>
<p>We simply import the <tt class="docutils literal"><span class="pre">login_user</span></tt> function from Flask-Login, check a
user&#8217;s login credentials and call <tt class="docutils literal"><span class="pre">login_user(user)</span></tt>. You can log the
current user out with <tt class="docutils literal"><span class="pre">logout_user()</span></tt>.</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12</pre></div></td><td class="code"><div class="highlight"><pre><span class="c"># ourapp/views.py</span>

<span class="kn">from</span> <span class="nn">flask</span> <span class="kn">import</span> <span class="n">redirect</span><span class="p">,</span> <span class="n">url_for</span>
<span class="kn">from</span> <span class="nn">flask.ext.login</span> <span class="kn">import</span> <span class="n">logout_user</span>

<span class="kn">from</span> <span class="nn">.</span> <span class="kn">import</span> <span class="n">app</span>

<span class="nd">@app.route</span><span class="p">(</span><span class="s">&#39;/signout&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">signout</span><span class="p">():</span>
    <span class="n">logout_user</span><span class="p">()</span>

    <span class="k">return</span> <span class="n">redirect</span><span class="p">(</span><span class="n">url_for</span><span class="p">(</span><span class="s">&#39;index&#39;</span><span class="p">))</span>
</pre></div>
</td></tr></table></div>
</div>
</div>
<div class="section" id="forgot-your-password">
<h2>Forgot your password<a class="headerlink" href="#forgot-your-password" title="Permalink to this headline">¶</a></h2>
<p>We&#8217;ll generally want to implement a &#8220;Forgot your password&#8221; feature that
lets a user recover their account by email. This area has a plethora of
potential vulnerabilities because the whole point is to let an
unauthenticated user take over an account. We&#8217;ll implement our password
reset using some of the same techniques as our email confirmation.</p>
<p>We&#8217;ll need a form to request a reset for a given account&#8217;s email and a
form to choose a new password once we&#8217;ve confirmed that the
unauthenticated user has access to that email address. The code in this
section assumes that our user model has an email and a password, where
the password is a hybrid property as we previously created.</p>
<div class="admonition warning">
<p class="first admonition-title">Warning</p>
<p class="last">Don&#8217;t send password reset links to an unconfirmed email address! You want to be sure that you are sending this link to the right person.</p>
</div>
<p>We&#8217;re going to need two forms. One is to request that a reset link be
sent to a certain email and the other is to change the password once the
email has been verified.</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11</pre></div></td><td class="code"><div class="highlight"><pre><span class="c"># ourapp/forms.py</span>

<span class="kn">from</span> <span class="nn">flask.ext.wtforms</span> <span class="kn">import</span> <span class="n">Form</span>

<span class="kn">from</span> <span class="nn">wtforms</span> <span class="kn">import</span> <span class="n">TextField</span><span class="p">,</span> <span class="n">PasswordField</span><span class="p">,</span> <span class="n">Required</span><span class="p">,</span> <span class="n">Email</span>

<span class="k">class</span> <span class="nc">EmailForm</span><span class="p">(</span><span class="n">Form</span><span class="p">):</span>
    <span class="n">email</span> <span class="o">=</span> <span class="n">TextField</span><span class="p">(</span><span class="s">&#39;Email&#39;</span><span class="p">,</span> <span class="n">validators</span><span class="o">=</span><span class="p">[</span><span class="n">Required</span><span class="p">(),</span> <span class="n">Email</span><span class="p">()])</span>

<span class="k">class</span> <span class="nc">PasswordForm</span><span class="p">(</span><span class="n">Form</span><span class="p">):</span>
    <span class="n">password</span> <span class="o">=</span> <span class="n">PasswordField</span><span class="p">(</span><span class="s">&#39;Email&#39;</span><span class="p">,</span> <span class="n">validators</span><span class="o">=</span><span class="p">[</span><span class="n">Required</span><span class="p">()])</span>
</pre></div>
</td></tr></table></div>
<p>This code assumes that our password reset form just needs one field for
the password. Many apps require the user to enter their new password
twice to confirm that they haven&#8217;t made a typo. To do this, we&#8217;d simply
add another <tt class="docutils literal"><span class="pre">PasswordField</span></tt> and add the <tt class="docutils literal"><span class="pre">EqualTo</span></tt> WTForms validator
to the main password field.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>There a lot of interesting discussions in the User Experience (UX) community about the best way to handle this in sign-up forms. I personally like the thoughts of one Stack Exchange user (Roger Attrill) who said:</p>
<p>&#8220;We should not ask for password twice - we should ask for it once and make sure that the &#8216;forgot password&#8217; system works seamlessly and flawlessly.&#8221;</p>
<ul class="last simple">
<li>Read more about this topic in the <a class="reference external" href="http://ux.stackexchange.com/questions/20953/why-should-we-ask-the-password-twice-during-registration/21141">thread on the User Experience Stack Exchange</a>.</li>
<li>There are also some cool ideas for simplifying sign-up and sign-in forms in an <a class="reference external" href="http://uxdesign.smashingmagazine.com/2011/05/05/innovative-techniques-to-simplify-signups-and-logins/">article on Smashing Magazine article</a>.</li>
</ul>
</div>
<p>Now we&#8217;ll implement the first view of our process, where a user can
request that a password reset link be sent for a given email address.</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35</pre></div></td><td class="code"><div class="highlight"><pre># ourapp/views.py

from flask import redirect, url_for, render_template

from . import app
from .forms import EmailForm
from .models import User
from .util import send_email, ts

@app.route(&#39;/reset&#39;, methods=[&quot;GET&quot;, &quot;POST&quot;])
def reset():
    form = EmailForm()
    if form.validate_on_submit()
        user = User.query.filter_by(email=form.email.data).first_or_404()

        subject = &quot;Password reset requested&quot;

        # Here we use the URLSafeTimedSerializer we created in `util` at the
        # beginning of the chapter
        token = ts.dumps(self.email, salt=&#39;recover-key&#39;)

        recover_url = url_for(
            &#39;reset_with_token&#39;,
            token=token,
            _external=True)

        html = render_template(
            &#39;email/recover.html&#39;,
            recover_url=recover_url)

        # Let&#39;s assume that send_email was defined in myapp/util.py
        send_email(user.email, subject, html)

        return redirect(url_for(&#39;index&#39;))
    return render_template(&#39;reset.html&#39;, form=form)
</pre></div>
</td></tr></table></div>
<p>When the form receives an email address, we grab the user with that
email address, generate a reset token and send them a password reset
URL. That URL routes them to a view that will validate the token and let
them reset the password.</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29</pre></div></td><td class="code"><div class="highlight"><pre><span class="c"># ourapp/views.py</span>

<span class="kn">from</span> <span class="nn">flask</span> <span class="kn">import</span> <span class="n">redirect</span><span class="p">,</span> <span class="n">url_for</span><span class="p">,</span> <span class="n">render_template</span>

<span class="kn">from</span> <span class="nn">.</span> <span class="kn">import</span> <span class="n">app</span><span class="p">,</span> <span class="n">db</span>
<span class="kn">from</span> <span class="nn">.forms</span> <span class="kn">import</span> <span class="n">PasswordForm</span>
<span class="kn">from</span> <span class="nn">.models</span> <span class="kn">import</span> <span class="n">User</span>
<span class="kn">from</span> <span class="nn">.util</span> <span class="kn">import</span> <span class="n">ts</span>

<span class="nd">@app.route</span><span class="p">(</span><span class="s">&#39;/reset/&lt;token&gt;&#39;</span><span class="p">,</span> <span class="n">methods</span><span class="o">=</span><span class="p">[</span><span class="s">&quot;GET&quot;</span><span class="p">,</span> <span class="s">&quot;POST&quot;</span><span class="p">])</span>
<span class="k">def</span> <span class="nf">reset_with_token</span><span class="p">(</span><span class="n">token</span><span class="p">):</span>
    <span class="k">try</span><span class="p">:</span>
        <span class="n">email</span> <span class="o">=</span> <span class="n">ts</span><span class="o">.</span><span class="n">loads</span><span class="p">(</span><span class="n">token</span><span class="p">,</span> <span class="n">salt</span><span class="o">=</span><span class="s">&quot;recover-key&quot;</span><span class="p">,</span> <span class="n">max_age</span><span class="o">=</span><span class="mi">86400</span><span class="p">)</span>
    <span class="k">except</span><span class="p">:</span>
        <span class="n">abort</span><span class="p">(</span><span class="mi">404</span><span class="p">)</span>

    <span class="n">form</span> <span class="o">=</span> <span class="n">PasswordForm</span><span class="p">()</span>

    <span class="k">if</span> <span class="n">form</span><span class="o">.</span><span class="n">validate_on_submit</span><span class="p">():</span>
        <span class="n">user</span> <span class="o">=</span> <span class="n">User</span><span class="o">.</span><span class="n">query</span><span class="o">.</span><span class="n">filter_by</span><span class="p">(</span><span class="n">email</span><span class="o">=</span><span class="n">email</span><span class="p">)</span><span class="o">.</span><span class="n">first_or_404</span><span class="p">()</span>

        <span class="n">user</span><span class="o">.</span><span class="n">password</span> <span class="o">=</span> <span class="n">form</span><span class="o">.</span><span class="n">password</span><span class="o">.</span><span class="n">data</span>

        <span class="n">db</span><span class="o">.</span><span class="n">session</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="n">user</span><span class="p">)</span>
        <span class="n">db</span><span class="o">.</span><span class="n">session</span><span class="o">.</span><span class="n">commit</span><span class="p">()</span>

        <span class="k">return</span> <span class="n">redirect</span><span class="p">(</span><span class="n">url_for</span><span class="p">(</span><span class="s">&#39;signin&#39;</span><span class="p">))</span>

    <span class="k">return</span> <span class="n">render_template</span><span class="p">(</span><span class="s">&#39;reset_with_token.html&#39;</span><span class="p">,</span> <span class="n">form</span><span class="o">=</span><span class="n">form</span><span class="p">,</span> <span class="n">token</span><span class="o">=</span><span class="n">token</span><span class="p">)</span>
</pre></div>
</td></tr></table></div>
<p>We&#8217;re using the same token validation method as we did to confirm the
user&#8217;s email address. The view passes the token from the URL back into
the template. Then the template uses the token to submit the form to the
right URL. Let&#8217;s have a look at what that template might look like.</p>
<div class="highlight-python"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11</pre></div></td><td class="code"><div class="highlight"><pre>{# ourapp/templates/reset_with_token.html #}

{% extends &quot;layout.html&quot; %}

{% block body %}
&lt;form action=&quot;{{ url_for(&#39;reset_with_token&#39;, token=token) }}&quot; method=&quot;POST&quot;&gt;
    {{ form.password.label }}: {{ form.password }}&lt;br&gt;
    {{ form.csrf_token }}
    &lt;input type=&quot;submit&quot; value=&quot;Change my password&quot; /&gt;
&lt;/form&gt;
{% endblock %}
</pre></div>
</td></tr></table></div>
</div>
<div class="section" id="summary">
<h2>Summary<a class="headerlink" href="#summary" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li>Use the itsdangerous package to create and validate tokens sent to an
email address.</li>
<li>You can use these tokens to validate emails when a user creates an
account, changes their email or forgets their password.</li>
<li>Authenticate users using the Flask-Login extension to avoid dealing
with a bunch of session management stuff yourself.</li>
<li>Always think about how a malicious user could abuse your app to do
things that you didn&#8217;t intend.</li>
</ul>
</div>
</div>


          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="deployment.html" class="btn btn-neutral float-right" title="Deployment"/>Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="forms.html" class="btn btn-neutral" title="Handling forms"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2014, Robert Picard.
    </p>
  </div>

  <a href="https://github.com/snide/sphinx_rtd_theme">Sphinx theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>
</footer>
        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'./',
            VERSION:'1.0',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="_static/jquery.js"></script>
      <script type="text/javascript" src="_static/underscore.js"></script>
      <script type="text/javascript" src="_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
  
 
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50579609-1', 'exploreflask.com');
  ga('send', 'pageview');

</script>


</body>
</html>